.recipe-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 90px;
  width: 500px;
}

.instructions-ingredient-font {
  font-size: 11px;
}

.main-header {
  text-align: center;
}

.headings {
  text-align: center;
}

.review-body {
  width: 100%;
  height: auto;
  min-width: 500px;
  margin: auto;
  padding: 20px;
}

.review-title {
  width: 100%;
  height: auto;
  min-width: 500px;
  margin: auto;
  padding: 20px;
}

.submit-button {
  width: 400px;
  display: block;
  margin: 20px auto;
  text-align: center;
}

.review-box {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.review-box p {
  line-height: 1.5;
  color: #333;
}

.review-box p:first-child {
  font-weight: bold;
  font-size: 1.2em;
}

.review-box p:nth-child(2) {
  font-style: italic;
  color: #555;
}

.review-box p:nth-child(3) {
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 3px 10px;
  display: inline-block;
}

.review-box p:nth-child(4) {
  font-size: 0.9em;
  text-align: right;
  color: #666;
}
