table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 80px; /* Increased space above the table if needed */
}

th,
td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}

.search-container {
  margin-top: 100px; /* Increased top margin to move the search bar down */
  margin-bottom: 20px;
  display: flex; /* Added to align the search input and button inline */
  justify-content: center; /* Added to center the search bar and button */
}

.search-input {
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 300px; /* You can set a fixed width or percentage as per your design */
}

.search-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #45a049;
}