table {
  width: 100%;
  border-collapse: collapse;
}

/* Set specific widths on table columns  */
th.name-column, td.name-column {
  min-width: 200px; 
  word-wrap: break-word; /* Allows words to break and wrap onto the next line */
}

/* Reduces the margin-top of the table */
table {
  margin-top: 50px; /* Space above the table */
}

/* Apply the same styles for both th and td */
th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}

/* Adjust search container margin to reduce space */
.search-container {
  margin-top: 100px; /* Reduces space above search bar */
  margin-bottom: 50px; /* Reduces space below search bar */
  display: flex;
  justify-content: center; /* Center the search bar and button */
}

/* Input and button styles unchanged */
.search-input {
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #45a049;
}

/* Pagination button and spacing adjustments */
.pagination button {
  padding: 10px 20px; /* Adjusted button size */
  margin: 0 5px; /* Adjusted spacing between buttons */
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #45a049;
}

.pagination span {
  margin: 0 10px; /* Adjusted spacing around page number text */
  font-size: 16px; /* Optional: Adjust the font size of the page numbers */
}

.add-to-cart-button {
  margin-left: 20px; /* Adds space on the left of the Add to Cart button */
}

.add-to-cart-btn {
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 5px; /* Rounded corners */
  margin-top: 10px; /* Some margin at the top */
}

.add-to-cart-btn:hover {
  background-color: #45a049; /* Darker green background on hover */
}
