.container_recipe {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 80px;
  width: 800px;
  font-family: 'Poppins', sans-serif;
}

.heading-text {
  text-align: center;
  margin: 5px 0;
  font-size: 30px;
  font-weight: bold;
}

.subheading-text {
  text-align: center;
  margin: 5px 0;
  font-size: 18px;
  font-weight: bold;
}

.ingredient-input {
  display: flex;
  align-items: left;
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.recipe-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
}

.recipe-title {
  font-weight: bold;
}

th {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

thead {
  background-color: #f4f4f4; /* Light gray background */
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd; /* Light gray border */
  padding: 8px;
  font-size: 14px;
}

.recipe-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-buttons button {
  width: 400px; 
  margin: 0 auto;
  padding: 5px;
}

.dietary-restrictions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Space between boxes */
  justify-content: center; /* Center boxes */
  padding: 5px 0;
}

.ingredient-box {
  padding: 5px 10px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px; /* Rounded corners */
  background-color: #f0f0f0; /* Light gray background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

.allergens-section {
  position: relative; 
  text-align: center;
  margin-bottom: 20px;  
}

.allergens-dropdown-btn {
  padding: 10px;
  background-color: #f9f9f9; 
  color: #333; 
  border: 1px solid #ccc; 
  cursor: pointer;
  outline: none;

}

.allergens-dropdown-content {
  display: none; 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 5px;
  top: 100%;  
  margin-top: 2px; 
}

.show-dropdown {
  display: block;
}

.allergen-pill {
  display: flex; 
  align-items: center; 
  margin: 5px 0; 
}

.allergen-remove-btn {
  margin-left: 10px; 
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #155724;
}

.allergen-remove-btn:hover {
  color: #28a745;
}

.saved-recipe-list {
  list-style: none; /* Removes the bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

/* Style individual saved recipe items */
.saved-recipe-item {
  display: flex; /* Aligns items in a flex row */
  justify-content: space-between; /* Ensures equal spacing between elements */
  align-items: center; /* Aligns items vertically */
}

/* Modify the .recipe-name class if it's being used */
.recipe-name {
  flex-grow: 1; /* Allows the recipe name to expand */
}

/* Style for the 'View' link */
.view-button, .remove-button {
  padding: 5px 10px; /* Adjust padding to your preference */
  margin-left: 10px; /* Creates space to the left of the buttons */
  text-decoration: none; /* Removes underline from the links */
  color: black; /* Sets the text color to black for both buttons */
  border: 1px solid #ccc; /* Adds a border to make it look like a button */
  border-radius: 4px; /* Rounds the corners of the buttons */
  font-size: 0.8em; /* Matches the font size to other text */
  background-color: transparent; /* Ensures no background color is affecting the view */
  cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
}
